
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <img src="{{data.image}}" alt="" style="height: 475px;">
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <h2 class="text-center">{{data.title}}</h2>
            <br>
            <p class="text-center">{{data.description}}</p>
            <br>
            <p class="text-center">{{data.rating.rate}}&#9733;<span>&nbsp;{{data.rating.count}}&nbsp;ratings</span></p>
            <br>
            <h5 class="text-center">${{data.price}}</h5>
        </div>
    </div>
</div>